html, body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background: url(../images/hbackground.jpg);
}

th {
    font-weight: 800;
}

#container {
margin: 0 auto;
}

tbody {
    font-weight: 500;
}

h1 {
    margin: 8px;
    text-align: center;
    color: rgb(226, 161, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
    text-align: center;
}